<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="add_in_list()">Add</ion-button>&nbsp;&nbsp;
    <ion-input placeholder="Введите фамилию:" [(ngModel)]="new_item_1"></ion-input>
    <ion-input placeholder="Введите имя:" [(ngModel)]="new_item_2"></ion-input>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let i_t of l_ist" lines="full">
      <ion-button fill="outline" color="danger" (click)="delete_item(i_t.id)">DELETE</ion-button>&nbsp;&nbsp;
      <!-- <ion-icon name="{{ i_t.icon }}"></ion-icon>&nbsp;&nbsp; -->
      <ion-label>
        {{ i_t.Name1 }}&nbsp;{{ i_t.Name2 }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
