<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="add_in_list()">Add</ion-button>&nbsp;&nbsp;
    <ion-input placeholder="Enter text" [(ngModel)]="new_item"></ion-input>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let i_t of l_ist" lines="full">
      <ion-button fill="outline">Claim</ion-button>&nbsp;&nbsp;
      <!-- <ion-icon name="{{ i_t.icon }}"></ion-icon>&nbsp;&nbsp; -->
      <ion-label>
        {{ i_t }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
