<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>kuhioj</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    Dog
    1
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    2
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    3
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    4
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    5
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    6
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    7
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    8
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    9
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
  <ion-item>
    Dog
    10
    <ion-button fill="outline" (click)="btn_click()">Bue</ion-button>
  </ion-item>
</ion-list>

</ion-content>
